
.h1-contact{
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    padding:10px 0;
    /* background: rgba(255, 255, 255, .8); */
}

#Contacter {
    display: flex;
    justify-content: center;
    width: 320px;
    margin-top: 20px;
    text-align: center;
    text-justify: center;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    transition: 0.5s ease;
    padding: 7px;
}

#Contacter:hover {
    transform: scale(1.15);
}

.contact-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    align-items: center;
    margin-top: -20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border-radius:20px;
    background: rgba(255, 255, 255, .8);
}

.information-container{

    /*background-color: lightgray;*/
    width: 50%;
    display: flex;
    flex-direction: column;
    /*text-align: right;*/
}

.dropdown-list{
    display: flex;
    justify-content: center;
}

.msg-container{
    width: 50%;
    /*background-color:lightgoldenrodyellow;*/
    /*padding: 3em 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg-message{
    display: flex;
    justify-content:center;
    /*margin:5em 0;*/
}

.msg-container p {
    margin:5em 0;
}

p{
    margin:30px 0;
}
input, textarea{
    margin:0 5px;
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
}

input[type="text"], input[type="email"]{
    padding: 10px;
    height:30px;
    width: 200px;
    text-align: left;
}

input[type="submit"]{
    width:200px;
    height:50px;
    margin-bottom:20px;
    margin-top: -20px;
}

#msg-message{
    height:200px;
    width: 300px;
    padding: 10px;
}


.titre-contact{
    font-size: 30px;
    margin-right: 5px;
}

#inputNom {
    margin-left: 45px;
}

#inputAdresse {
    margin-left: 5px;
}

#inputEmail {
    margin-left: 20px;
}

#inputCountry {
    margin-left: 40px;
}

#inputSujet {
    margin-right: 60px;
}


/*****************************************/
/*            Dropdown list              */
/*****************************************/

.bloc{
    display: flex;
    align-items:center;
    margin-left: 10px;
}

/*Réinitilaisation de la liste déroulante*/
select {
    appearance: none;
    outline: 0;
    border: 0 !important;
    background: #F9F9F9;
    background-image: none;
    box-shadow: none;
    /*font-size: 1.2em;*/
}


/* Mise en forme de la div .select*/
.select {
    position: relative;
    width: 200px;
    height: 30px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #CED4DA;
}

/* Mise en forme de la balise select*/
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
}


/* Mise en place de la flèche */
.select::after {
    content: '\276F';
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 15px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.2em;
    background: #F9F9F9;
}


.select:hover::after {
    color: #0097ff;
}

/**/
