
/*keep footer a the bottom of the page*/
/*footer {*/
/*  position: fixed;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  background-color: #f5f5f5;*/
/*  color: black;*/
/*  text-align: center;*/
/*}*/

/*footer{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

.container_footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.text_footer {
    font-size: 10px;
    padding: 10px;
}

.LienFooter {
    font-size: 15px;
    list-style: none;
    text-align: center;
}

.LienFooter a{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.lien {
    padding: 5px;
}