@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

.App {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.App_Home_Buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App_Home_Buttons button{
  width: 150px;
  height : 50px;
  margin-bottom: 20px;
  border: 2px solid rgb(1, 93, 197);
  border-radius: 5px;
}

.App_Home_Buttons a{
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.registration, .login{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

.registration input{
  width:300px;
  height:20px;
  margin: 5px;
  font-size: 20px;
}

.login input{
  width:300px;
  height:20px;
  margin: 5px;
  font-size: 20px;
}